<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
      <httpRuntime executionTimeout="7200" maxRequestLength="2147483647"/>
    </system.web>

    <system.webServer>
      <defaultDocument>
        <files>
          <add value="index.aspx" />
        </files>
      </defaultDocument>
    </system.webServer>
  <appSettings>
    <add key="server" value="localhost" />
    <add key="database" value="dbnewwmglobal" />
    <add key="uid" value="sa" />
    <add key="pwd" value="Admin123" />

  </appSettings>
  <connectionStrings>
    <add name="wm_global" connectionString="Data Source=localhost;Initial Catalog=db_WMGlobal;User ID=sa;Password=123456" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IBarcodeWebService" sendTimeout="00:40:00">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IBarcodeWebService2" sendTimeout="00:40:00" />
        <binding name="BasicHttpBinding_ILabellingWebService" sendTimeout="00:40:00">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_ILabellingWebService2" sendTimeout="00:40:00" />
        <binding name="ShipServiceSoapBinding" sendTimeout="00:40:00">
          <security mode="Transport" />
        </binding>
        <binding name="ShipServiceSoapBinding1" sendTimeout="00:40:00" />
        <binding name="ShipServiceSoapBinding2">
          <security mode="Transport" />
        </binding>
        <binding name="ShipServiceSoapBinding3" />
      </basicHttpBinding>
      <customBinding>
        <binding name="BasicHttpBinding_IBarcodeWebService1" closeTimeout="00:40:00"
          openTimeout="00:40:00" receiveTimeout="00:40:00" sendTimeout="00:40:00">
          <security defaultAlgorithmSuite="Default" authenticationMode="UserNameOverTransport"
            requireDerivedKeys="false" includeTimestamp="false" messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10" />
          <textMessageEncoding messageVersion="Soap11" />
          <httpsTransport maxReceivedMessageSize="2000000000" />
        </binding>
        <binding name="BasicHttpBinding_ILabellingWebService1" closeTimeout="00:40:00"
          openTimeout="00:40:00" receiveTimeout="00:40:00" sendTimeout="00:40:00">
          <security defaultAlgorithmSuite="Default" authenticationMode="UserNameOverTransport"
            requireDerivedKeys="false" includeTimestamp="false" messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10" />
          <textMessageEncoding messageVersion="Soap11">
            <readerQuotas maxArrayLength="2000000000" />
          </textMessageEncoding>
          <httpsTransport maxReceivedMessageSize="2000000000" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://service.postnl.com/CIF/BarcodeWebService/1_1/"
        binding="customBinding" bindingConfiguration="BasicHttpBinding_IBarcodeWebService1"
        contract="BarcodeService.IBarcodeWebService" name="BasicHttpBinding_IBarcodeWebService1" />
      <endpoint address="https://service.postnl.com/CIF/LabellingWebService/1_6/"
        binding="customBinding" bindingConfiguration="BasicHttpBinding_ILabellingWebService1"
        contract="LabelTest1.ILabellingWebService" name="BasicHttpBinding_ILabellingWebService1" />
      <endpoint address="https://expresslink-test.parcelforce.net/ws/"
        binding="basicHttpBinding" bindingConfiguration="ShipServiceSoapBinding"
        contract="ShipService.ShipPortType" name="ShipServicePort" />
      <endpoint address="https://expresslink-test.parcelforce.net/ws/"
        binding="basicHttpBinding" bindingConfiguration="ShipServiceSoapBinding2"
        contract="ShipServiceForApp.ShipPortType" name="ShipServicePort1" />
    </client>
  </system.serviceModel>

</configuration>


